Repository dmirrha/motorsport-calendar: changes, and which Codecov flags are due for each by the changed paths.
All: Core Processing, Calendar Generation, Data Collection, Configuration, UI, Utils, Logging, Data Sources

chore(issues): versionar import das issues do Plano de IA (sub-issues #158–#165) (#166)
  .github/import_issues/imported/157-epic-ai-implementation.json
  .github/import_issues/imported/157-epic-ai-implementation.md
  .github/import_issues/imported/158-evaluation-and-benchmarks.json
  .github/import_issues/imported/158-evaluation-and-benchmarks.md
  .github/import_issues/imported/159-optional-anomaly-detection-rules.json
  .github/import_issues/imported/159-optional-anomaly-detection-rules.md
  .github/import_issues/imported/160-semantic-deduplication-integration.json
  .github/import_issues/imported/160-semantic-deduplication-integration.md
  .github/import_issues/imported/161-docs-governance-and-release-notes.json
  .github/import_issues/imported/161-docs-governance-and-release-notes.md
  .github/import_issues/imported/162-config-and-validator-keys.json
  .github/import_issues/imported/162-config-and-validator-keys.md
  .github/import_issues/imported/163-semantic-categorization-integration.json
  .github/import_issues/imported/163-semantic-categorization-integration.md
  .github/import_issues/imported/164-onnx-and-quantization-optional.json
  .github/import_issues/imported/164-onnx-and-quantization-optional.md
  .github/import_issues/imported/165-embeddings-service-local.json
  .github/import_issues/imported/165-embeddings-service-local.md
  .windsurf/rules/motorsportcalendar.md
  docs/architecture/ai_implementation_plan.md
  docs/architecture/race_calendar_technical_report.md
Due: none

docs(rules): atualiza .windsurf/rules/motorsportcalendar.md (ajustes de orientação interna, sem impacto funcional)
  .windsurf/rules/motorsportcalendar.md
Due: none

docs(config): documentar concorrência e timeouts em data_sources
  .windsurf/rules/motorsportcalendar.md
Due: none

docs: sincroniza regras e artefatos de arquitetura relacionados ao Plano de IA; refs #157-#165
  .windsurf/rules/motorsportcalendar.md
Due: none

docs(epic #157): reordena checklist de tarefas para sequência de desenvolvimento
  .github/import_issues/imported/157-epic-ai-implementation.md
Due: none

fix(config): tornar import do ConfigManager resiliente; validar seção ai; docs e testes atualizados. Closes #162
  CHANGELOG.md
  RELEASES.md
  config/config.example.json
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-162.json
  docs/issues/open/issue-162.md
  src/config_manager.py
  src/utils/config_validator.py
  tests/unit/utils/test_config_validator.py
Due: Configuration, Utils

fix(issues): corrige vínculos do EPIC (#157) e backlinks nas sub-issues (#158–#165)
  .github/import_issues/imported/157-epic-ai-implementation.md
Due: none

fix(config): ConfigManager resiliente + validação e docs da seção ai (#167)
  CHANGELOG.md
  RELEASES.md
  config/config.example.json
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-162.json
  docs/issues/open/issue-162.md
  src/config_manager.py
  src/utils/config_validator.py
  tests/unit/utils/test_config_validator.py
Due: Configuration, Utils

docs(benchmarks): README + RELEASES + overview com instruções e notas [#158]
  README.md
  RELEASES.md
  docs/tests/overview.md
  docs/tests/scenarios/data/eval_dataset.csv
  scripts/eval/benchmarks.py
Due: none

docs(benchmarks): README + RELEASES + overview com instruções e notas [#158] (#168)
  README.md
  RELEASES.md
  docs/tests/overview.md
  docs/tests/scenarios/data/eval_dataset.csv
  scripts/eval/benchmarks.py
Due: none

docs(benchmarks): arquiva snapshot pré-merge e adiciona resultados pós-merge (main@0cea4b0)
  docs/issues/open/issue-158.json
  docs/issues/open/issue-158.md
  docs/tests/audit/benchmarks/history/2025-08-26T16-35-41_pr168_head-e82db6e/metrics.csv
  docs/tests/audit/benchmarks/history/2025-08-26T16-35-41_pr168_head-e82db6e/report.md
  docs/tests/audit/benchmarks/history/2025-08-26T17-07-59_main_0cea4b0/metrics.csv
  docs/tests/audit/benchmarks/history/2025-08-26T17-07-59_main_0cea4b0/report.md
Due: none

docs(benchmarks): arquiva snapshot pré-merge e adiciona resultados pós-merge (main@0cea4b0) (#169)
  docs/issues/open/issue-158.json
  docs/issues/open/issue-158.md
  docs/tests/audit/benchmarks/history/2025-08-26T16-35-41_pr168_head-e82db6e/metrics.csv
  docs/tests/audit/benchmarks/history/2025-08-26T16-35-41_pr168_head-e82db6e/report.md
  docs/tests/audit/benchmarks/history/2025-08-26T17-07-59_main_0cea4b0/metrics.csv
  docs/tests/audit/benchmarks/history/2025-08-26T17-07-59_main_0cea4b0/report.md
Due: none

docs(issues): adiciona artefatos da issue #165 (serviço local de embeddings com cache+batch)
  docs/issues/open/issue-165.json
  docs/issues/open/issue-165.md
Due: none

feat(ai): serviço de Embeddings offline (batching+cache, 100% local); docs+tests; release: 0.6.7
  CHANGELOG.md
  README.md
  RELEASES.md
  config/config.example.json
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-165.json
  docs/issues/open/issue-165.md
  src/__init__.py
  src/ai/__init__.py
  src/ai/cache.py
  src/ai/embeddings_service.py
  src/utils/config_validator.py
  tests/unit/ai/test_embeddings_service.py
Due: Utils

AI: Serviço de Embeddings offline — batching+cache, 100% local (v0.6.7) (#170)
  CHANGELOG.md
  README.md
  RELEASES.md
  config/config.example.json
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-165.json
  docs/issues/open/issue-165.md
  src/__init__.py
  src/ai/__init__.py
  src/ai/cache.py
  src/ai/embeddings_service.py
  src/utils/config_validator.py
  tests/unit/ai/test_embeddings_service.py
Due: Utils

feat(ai): embeddings offline e integração semântica no CategoryDetector; testes iniciais (closes #163)
  src/ai/__init__.py
  src/ai/embeddings_service.py
  src/category_detector.py
  tests/integration/test_it_semantic_category_detector.py
  tests/unit/ai/test_embeddings_service.py
Due: Core Processing

docs(ai): atualizar documentação e configs para categorização semântica offline; adicionar testes de integração
  CHANGELOG.md
  README.md
  RELEASES.md
  config/config.json.new
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-163.json
  docs/issues/open/issue-163.md
  docs/issues/open/pr-170.md
  src/__init__.py
  tests/integration/test_it_semantic_category_detector.py
  tests/unit/category/test_category_detector_semantic_batch.py
Due: none

tests(policy): adicionar pytestmark=integration no módulo de testes de categorização semântica
  tests/integration/test_it_semantic_category_detector.py
Due: none

feat(ai): categorização semântica offline determinística + docs e testes (close #163) (#171)
  CHANGELOG.md
  README.md
  RELEASES.md
  config/config.json.new
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-163.json
  docs/issues/open/issue-163.md
  docs/issues/open/pr-170.md
  src/category_detector.py
  tests/integration/test_it_semantic_category_detector.py
  tests/unit/category/test_category_detector_semantic_batch.py
Due: Core Processing

docs: atualiza versão para 0.6.8 e documenta feature de categorização semântica
  CHANGELOG.md
  RELEASES.md
  src/__init__.py
Due: none

docs(issues): registra issue #160 (deduplicação semântica) com plano e metadados
  docs/issues/open/issue-160.json
  docs/issues/open/issue-160.md
Due: none

feat(event-processor): deduplicação semântica (AI) com Embeddings offline; docs+tests; determinismo mantido; thresholds configuráveis. Closes #160
  CHANGELOG.md
  README.md
  RELEASES.md
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-160.md
  src/event_processor.py
  tests/integration/test_it_semantic_dedup_event_processor.py
Due: Core Processing

fix(event-processor): fuzzy dinâmico e normalização do threshold no modo AI off
  src/event_processor.py
Due: Core Processing

feat: Deduplicação semântica no EventProcessor (#160) (#172)
  CHANGELOG.md
  README.md
  RELEASES.md
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-160.json
  docs/issues/open/issue-160.md
  src/__init__.py
  src/event_processor.py
  tests/integration/test_it_semantic_dedup_event_processor.py
Due: Core Processing

docs: atualiza versão para 0.6.9 e documenta correções de deduplicação
  CHANGELOG.md
  RELEASES.md
  src/__init__.py
Due: none

fix: deduplicação semântica com fuzzy dinâmico (Issue #160) (#173)
  CHANGELOG.md
  RELEASES.md
  src/__init__.py
Due: none

docs(issues): arquiva issue #160 (deduplicação semântica) após merge v0.6.9; sincroniza documentação de rastreabilidade
  docs/issues/closed/issue-160.json
  docs/issues/closed/issue-160.md
Due: none

feat(quality): detecção opcional de anomalias no EventProcessor; docs de config e release atualizadas (Closes #159)
  CHANGELOG.md
  README.md
  RELEASES.md
  docs/CONFIGURATION_GUIDE.md
  src/event_processor.py
Due: Core Processing

chore(issue-159): incluir artefatos da issue e ajustes em utils/anomaly_detector
  docs/issues/open/issue-159.json
  docs/issues/open/issue-159.md
  src/utils/__init__.py
  src/utils/anomaly_detector.py
Due: Utils

feat(quality): anomalias opcionais no EventProcessor (Closes #159) (#174)
  CHANGELOG.md
  README.md
  RELEASES.md
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-159.json
  docs/issues/open/issue-159.md
  src/event_processor.py
  src/utils/__init__.py
  src/utils/anomaly_detector.py
Due: Core Processing, Utils

chore(docs): mover artefatos da Issue #159 para docs/issues/closed/ pós-merge
  docs/issues/closed/issue-159.json
  docs/issues/closed/issue-159.md
Due: none

feat(ai): backend ONNX opcional com fallback em embeddings; validação de ai.onnx.* (refs #164)
  docs/issues/open/issue-164.json
  docs/issues/open/issue-164.md
  src/ai/embeddings_service.py
  src/utils/config_validator.py
Due: Utils

Fix ONNX config validation and tests
  src/utils/config_validator.py
  tests/unit/utils/test_config_validator.py
Due: Utils

feat(ai): ONNX opcional em embeddings (refs #164) (#177)
  docs/issues/open/issue-164.json
  docs/issues/open/issue-164.md
  src/ai/embeddings_service.py
  src/utils/config_validator.py
Due: Utils

docs(onnx): alinhar docs ao backend ONNX; testes ONNX ajustados (np.ndarray float32), providers normalizados, cache lista→ndarray, inferência única por batch; bump 0.6.10
  CHANGELOG.md
  README.md
  RELEASES.md
  src/__init__.py
Due: none

chore(release): v0.6.10 ONNX embeddings integration & docs
  docs/CONFIGURATION_GUIDE.md
  src/ai/embeddings_service.py
  src/utils/config_validator.py
  tests/unit/ai/test_embeddings_service.py
Due: Utils

chore(rebase): resolver conflitos ONNX (CHANGELOG, RELEASES, CONFIGURATION_GUIDE, tests/unit/ai/test_embeddings_service.py) — alinhar formatos de saída, providers e batching
  docs/CONFIGURATION_GUIDE.md
Due: none

Path conditions:
  Core Processing: any of: src/event_processor.py, src/category_detector.py, src/silent_period.py
  Calendar Generation: any of: src/ical_generator.py
  Data Collection: any of: src/data_collector.py
  Configuration: any of: src/config_manager.py
  UI: any of: src/ui_manager.py
  Utils: any of: src/utils/
  Logging: any of: src/logger.py
  Data Sources: any of: sources/
