Repository dmirrha/motorsport-calendar: changes, and which Codecov flags are due for each by the changed paths.
All: Core Processing, Calendar Generation, Data Collection, Configuration, UI, Utils, Logging, Data Sources

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true
comment: false
flags:
  unit: {}
  integration: {}
  e2e: {}

component_management:
  individual_components:
    - component_id: core-processing
      name: Core Processing
      paths:
        - src/event_processor.py
        - src/category_detector.py
        - src/silent_period.py
    - component_id: calendar-generation
      name: Calendar Generation
      paths:
        - src/ical_generator.py
    - component_id: data-collection
      name: Data Collection
      paths:
        - src/data_collector.py
    - component_id: configuration
      name: Configuration
      paths:
        - src/config_manager.py
    - component_id: ui
      name: UI
      paths:
        - src/ui_manager.py
    - component_id: utils
      name: Utils
      paths:
        - src/utils/
    - component_id: logging
      name: Logging
      paths:
        - src/logger.py
    - component_id: sources
      name: Data Sources
      paths:
        - sources/

ci: comentar automaticamente na PR com cobertura e status (sempre)
  .github/workflows/tests.yml
Due: none

ci: post_pr_comment — fix PR detection using gh -R (refs #110)
  .github/workflows/tests.yml
Due: none

ci(workflow): corrigir sintaxe do gh api na postagem de comentário de PR (-F body=@comment_body.txt). Refs #110
  .github/workflows/tests.yml
Due: none

ci(workflow): remover steps duplicados do Codecov Test Results (Tests Analytics) para reduzir checks na PR. Refs #110
  .github/workflows/tests.yml
Due: none

ci: comentário automático em PR e ajustes Codecov
  .github/import_issues/open/106-tomadatempo-it2-coverage-80.json
  .github/import_issues/open/106-tomadatempo-it2-coverage-80.md
  .github/workflows/tests.yml
  .windsurf/rules/tester.md
  CHANGELOG.md
  RELEASES.md
  docs/issues/open/issue-121.json
  docs/issues/open/issue-121.md
  sources/base_source.py
  sources/tomada_tempo.py
  src/__init__.py
  tests/fixtures/html/tomada_tempo/programming_duplicates.html
  tests/fixtures/html/tomada_tempo/programming_entities.html
  tests/fixtures/html/tomada_tempo/programming_missing_location.html
  tests/fixtures/html/tomada_tempo/programming_multiday.html
  tests/fixtures/html/tomada_tempo/programming_streaming_overflow.html
  tests/fixtures/html/tomada_tempo/programming_timezone_dst.html
  tests/integration/test_it2_tomada_tempo_dates_tz.py
  tests/integration/test_it2_tomada_tempo_entities_and_duplicates.py
  tests/integration/test_it2_tomada_tempo_fallbacks_and_parsing.py
  tests/integration/test_it2_tomada_tempo_multiday_and_location.py
  tests/integration/test_it2_tomada_tempo_streaming_constraints.py
Due: Data Sources

ci(make): adiciona alvo ci.pr-run para atualizar PR e disparar workflow Tests
  CHANGELOG.md
  Makefile
  README.md
  RELEASES.md
  docs/issues/open/issue-121.json
  docs/issues/open/issue-121.md
  docs/tests/overview.md
Due: none

docs(issues): move issue-121 para docs/issues/closed e registrar fechamento (PR #122, merge 96c7b22)
  docs/issues/closed/issue-121.json
  docs/issues/closed/issue-121.md
Due: none

docs: mover issue-121 para closed e registrar helper ci.pr-run em changelog/releases
  CHANGELOG.md
  Makefile
  README.md
  RELEASES.md
  docs/issues/closed/issue-121.json
  docs/issues/closed/issue-121.md
  docs/tests/overview.md
Due: none

docs(tests): registrar métricas de cobertura por suíte (unit 65.75%, integration 52.90%, e2e 31.10%); atualizar overview e notas de versão
  CHANGELOG.md
  RELEASES.md
  docs/tests/overview.md
Due: none

docs: métricas de cobertura por suíte (unit/integration/e2e) (#125)
  CHANGELOG.md
  RELEASES.md
  docs/tests/overview.md
Due: none

feat(collector): retry por fonte; testes determinísticos; docs/config atualizadas; bump 0.5.24
  .windsurf/rules/tester.md
  CHANGELOG.md
  RELEASES.md
  config/config.example.json
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-111.json
  docs/issues/open/issue-111.md
  src/__init__.py
  src/data_collector.py
  tests/unit/data_collector/test_data_collector_retry.py
Due: Data Collection

feat(collector): retry por fonte (Issue #111)
  .windsurf/rules/tester.md
  CHANGELOG.md
  RELEASES.md
  config/config.example.json
  docs/CONFIGURATION_GUIDE.md
  docs/issues/open/issue-111.json
  docs/issues/open/issue-111.md
  src/__init__.py
  src/data_collector.py
  tests/unit/data_collector/test_data_collector_retry.py
Due: Data Collection

chore(docs): mover rastreabilidade da issue #111 para closed; adicionar status final ao MD
  docs/issues/closed/issue-111.json
  docs/issues/closed/issue-111.md
Due: none

chore(docs): mover rastreabilidade da issue #111 para closed
  docs/issues/closed/issue-111.json
  docs/issues/closed/issue-111.md
Due: none

chore(docs): remover duplicatas de rastreabilidade da issue #111 em docs/issues/open/
  docs/issues/open/issue-111.json
  docs/issues/open/issue-111.md
Due: none

chore(docs): remover duplicatas da issue #111 em docs/issues/open/
  docs/issues/open/issue-111.json
  docs/issues/open/issue-111.md
Due: none

chore(issues,docs): preparar import P0 (107–110); mover 106 para closed; atualizar CHANGELOG/RELEASES/docs de testes
  .github/import_issues/closed/106-tomadatempo-it2-coverage-80.json
  .github/import_issues/closed/106-tomadatempo-it2-coverage-80.md
  .github/import_issues/open/107-xfails-ics-tomadatempo.json
  .github/import_issues/open/107-xfails-ics-tomadatempo.md
  .github/import_issues/open/108-pytest-timeout-randomly.json
  .github/import_issues/open/108-pytest-timeout-randomly.md
  .github/import_issues/open/109-codecov-patch-coverage-gate-85.json
  .github/import_issues/open/109-codecov-patch-coverage-gate-85.md
  .github/import_issues/open/110-nightly-flaky-tests-job.json
  .github/import_issues/open/110-nightly-flaky-tests-job.md
  CHANGELOG.md
  RELEASES.md
  docs/tests/overview.md
Due: none

docs(release): promover Unreleased para 0.5.24 (2025-08-20), limpar seções; incluir retry do DataCollector (#111)
  CHANGELOG.md
  RELEASES.md
Due: none

docs(release): promover Unreleased para 0.5.24 (2025-08-20), limpar seções; incluir retry do DataCollector (#111) (#133)
  CHANGELOG.md
  RELEASES.md
Due: none

docs(tests): adicionar relatório de auditoria TEST_AUDIT_2025-08-19.md
  docs/tests/audit/TEST_AUDIT_2025-08-19.md
Due: none

docs(tests): adicionar relatório de auditoria TEST_AUDIT_2025-08-19.md (#134)
  docs/tests/audit/TEST_AUDIT_2025-08-19.md
Due: none

docs(retry): document validate_data_sources_config and ConfigManager defaults; align DATA_SOURCES retry/backoff linear; update CHANGELOG/RELEASES (refs #111)
  CHANGELOG.md
  DATA_SOURCES.md
  RELEASES.md
  config/config.example.json
  src/config_manager.py
  src/utils/config_validator.py
Due: Configuration, Utils

docs(issues): add local record for #111 with plan and context
  docs/issues/open/issue-111.md
Due: none

chore: incluir alterações pendentes (event_processor/ical_generator) e ajustes de testes de integração/snapshots (refs #111)
  docs/issues/open/issue-111.md
  src/event_processor.py
  src/ical_generator.py
  tests/integration/test_it2_tomada_tempo_entities_and_duplicates.py
  tests/integration/test_phase2_dedupe_order_consistency.py
  tests/snapshots/phase2/phase2_dedupe_order_consistency.ics
Due: Core Processing, Calendar Generation

Retry por fonte: validação e docs (#111) (#135)
  CHANGELOG.md
  DATA_SOURCES.md
  RELEASES.md
  config/config.example.json
  docs/issues/open/issue-111.md
  src/config_manager.py
  src/event_processor.py
  src/ical_generator.py
  src/utils/config_validator.py
  tests/integration/test_it2_tomada_tempo_entities_and_duplicates.py
  tests/integration/test_phase2_dedupe_order_consistency.py
  tests/snapshots/phase2/phase2_dedupe_order_consistency.ics
Due: Core Processing, Calendar Generation, Configuration, Utils

docs(issues): close #111 artifacts — remove open file, refresh JSON, update closed checklist
  docs/issues/closed/issue-111.json
  docs/issues/closed/issue-111.md
  docs/issues/open/issue-111.md
Due: none

docs(tests): overview — remove seção duplicada e valida referências
  CHANGELOG.md
  RELEASES.md
  docs/tests/overview.md
Due: none

docs(tests): overview — remove seção duplicada e valida referências (#136)
  CHANGELOG.md
  RELEASES.md
  docs/tests/overview.md
Due: none

chore(templates): adicionar PR template com fechamento automático de issues e checklist de conformidade
  .github/pull_request_template.md
Due: none

core(ics,dedupe): desempates determinísticos aplicados; ajustes de testes; housekeeping import_issues
  .github/import_issues/import_issues.py
  .github/import_issues/imported/129-xfails-ics-tomadatempo.json
  .github/import_issues/imported/129-xfails-ics-tomadatempo.md
  .github/import_issues/open/107-xfails-ics-tomadatempo.json
  src/__init__.py
  src/event_processor.py
  src/ical_generator.py
  tests/integration/test_phase2_dedupe_order_consistency.py
Due: Core Processing, Calendar Generation

chore(templates): adicionar PR template com fechamento automático de issues e checklist (#137)
  .github/pull_request_template.md
Due: none

chore: sincronizar pendências (ics/dedupe/tests/import_issues) (#138)
  .github/import_issues/import_issues.py
  .github/import_issues/imported/129-xfails-ics-tomadatempo.json
  .github/import_issues/imported/129-xfails-ics-tomadatempo.md
  .github/import_issues/open/107-xfails-ics-tomadatempo.json
  src/__init__.py
  src/event_processor.py
  src/ical_generator.py
  tests/integration/test_phase2_dedupe_order_consistency.py
Due: Core Processing, Calendar Generation

chore(ci/tests): add pytest-timeout and pytest-randomly; configure timeout=30s and randomly-seed=20240501 to stabilize test runs
  pytest.ini
  requirements-dev.txt
Due: none

chore(ci): log pytest plugin versions and randomly seed; bump version to 0.6.1
  .github/workflows/tests.yml
  src/__init__.py
Due: none

chore(ci): remover flag não suportada em 'pytest --version'; manter logging; bump 0.6.2
  .github/workflows/tests.yml
  src/__init__.py
Due: none

docs(tests, releases): registrar pytest-timeout/pytest-randomly e logging no CI; corrigir comando pytest --version; Refs: #139
  CHANGELOG.md
  RELEASES.md
  docs/tests/overview.md
Due: none

docs(issues): adicionar issue-130 (*.md, *.json) à PR #139 conforme processo; Refs: #130 #139
  docs/issues/open/issue-130.json
  docs/issues/open/issue-130.md
Due: none

CI: pytest-timeout e pytest-randomly + determinismo (#139)
  .github/workflows/tests.yml
  CHANGELOG.md
  RELEASES.md
  docs/issues/open/issue-130.json
  docs/issues/open/issue-130.md
  docs/tests/overview.md
  pytest.ini
  requirements-dev.txt
  src/__init__.py
Due: none

chore(issues): mover issue-130 (*.md, *.json) de open/ para closed/ após merge; Refs: #130
  docs/issues/closed/issue-130.json
  docs/issues/closed/issue-130.md
Due: none
